.container {
  display: flex;
  flex-direction: column;
  background-color: var(--sideNav);
  width: 20vw;
  height: 93.5vh;
  align-items: center;
  outline: none;
  border-radius: 10px 0px 0px 10px;
}

.backContainer {
  margin-left: 5%;
  width: 100%;
}

.backspace {
  margin-top: 5px;
  width: 40px;
  height: auto;
  cursor: pointer;
}

.container input {
  border-radius: 5px;
  width: 80%;
  padding: 5px;
  margin-bottom: 10%;
  text-align: center;
}

.containerAdd {
  width: 80%;
  height: 50px;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.typeDropDown {
  width: 80%;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

.dataForm {
  height: 30vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 20%;
}

.container button {
  border-radius: 20px;
  width: 30%;
  height: 5%;
  border: 0.5px solid;
  font-weight: 600;
}